.main_edit {
  padding: var(--spacings-36) 20px;
}

.title {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.04em;
}

.errores {
  font-size: 20px;
  padding: 40px;
  border: 1px solid #f00;
  border-radius: 10px;
}

.errores ul{
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errores ul li{
  text-align: center;
  color: #ff3333;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-36);
  margin-top: 40px;
}

.renglon1 {
  display: flex;
  gap: 54px;
}

.select_categoria,
.select_licencia {
  display: flex;
  align-items: center;
  gap: 20px;
}

.renglon1 label {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.container_nombre {
  display: flex;
  align-items: center;
  gap: 18px;
}

.container_nombre input {
  width: 296px;
}

textarea {
  resize: none;
  width: 827px;
  height: 200px;
  padding: 15px;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
}

.valores-secundarios {
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
  justify-items: flex-start;
  align-items: center;
}

.renglon__div:nth-child(5), .valores-secundarios > div:last-child {
  grid-column: span 2;
}



.valores-secundarios label, .renglon label {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.renglon {
  display: flex;
  gap: 54px;
  align-items: center;
}

.renglon__div {
  display: flex;
  align-items: center;
  gap: 18px;
}

.renglon label,
.container_nombre label {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.input_texto {
  color: #313131;
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  border: none;
  padding: 5px;
  border-bottom: 2px solid var(--primary-900);
}

.input_texto:focus {
  outline: none;
}

.input_chico {
  width: 55px;
  text-align: center;
}

.input_mediano {
  width: 130px;
}

select {
  color: #727272;
  border: 2px solid #30343f;
  border-radius: 6px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.boton_rojo {
  background: #ff3333;
  padding: 10px 30px;
  border: 0;
  color: white;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.imagenesfiguras {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid var(--primary-900);
  padding-bottom: 2px;
}

.figuras_imagenes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.imagenesYTexto {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}



/* media queris de create */
@media screen and (max-width: 800px) {
  .renglon {
    flex-direction: column;
  }

  textarea {
    width: 100%;
  }

  .valores-secundarios {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 650px) {

  .title{
    font-size: 32px;
  }
  .renglon1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .valores-secundarios > input:last-child {
    grid-column: span 2;
  }
}

@media screen and (width < 510px) {

  .renglon .renglon__div{
    flex-direction: column;
    align-items: flex-start;
  }

  .valores-secundarios {
    grid-template-columns: 1fr;
  }

  .valores-secundarios > div:last-child, .renglon__div:nth-child(5) {
    grid-column: span 1;
  }

  .valores-secundarios > div:last-child{
    flex-direction: column;
    align-items: flex-start;
  }

  .renglon__div:nth-child(5){
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .container_nombre{
    flex-direction: column;
  }

  .container_nombre input{
    width: 100%;
  }

  .valores-secundarios label, .container_nombre label, .renglon label {
    font-size: 18px;
    line-height: 29px;
  }

  .renglon{
    align-items: flex-start;
  }

  .renglon1 label{
    font-size: 22px;
  }

  .botones-submit{
    justify-content: center;
  }
}
