<header id="nav-active">
    <nav class="navbar container">
       <picture class="navbar__logo">
            <a href="/">
            <img src="/img/branding/logo_light_horizontal.svg" alt="Logo de Isotope Funkoshop" class="logo-original">
            <img src="/img/branding/isotype.svg" alt="Logo Funkoshop" class="logo-responsive">
            </a>
            
       </picture>         
       <ul class="navbar__menu" id="nav-list">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon> </a>
            <ul class="submenu">
                <li class="submenu__item">
                    <a href="" class="submenu__link">Funkos</a>
                </li>
                <li class="submenu__item">
                    <a href="" class="submenu__link">Remeras</a>
                </li>
                <li class="submenu__item">
                    <a href="" class="submenu__link">Laveros</a>
                </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/pages/contact.html">CONTACTO</a> 
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__cart" href="/cart">
            <img src="/img/icons/cart-icon.svg" alt="Logo de Carrito">
            </a>
          </li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
    </nav>
</header>