<header id="nav-active">
  <nav class="navbar container">
     <picture class="navbar__logo">
          <a href="/">
          <img src="/img/branding/logo_light_horizontal.svg" alt="Logo de Isotope Funkoshop" class="logo-original">
          <img src="/img/branding/isotype.svg" alt="Logo Funkoshop" class="logo-responsive">
          </a>
     </picture>         
     <ul class="navbar__menu" id="nav-list">

        <li class="navbar__item">
          <a class="navbar__link" href="/">VER TIENDA</a> 
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/admin/products/">ADMIN</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/logout">SALIR</a>
        </li>
      </ul>
      <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
  </nav>
</header>