<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <h1>Categorias</h1>
    <button><a href="/admin/categorias/create">Crear categoria</a></button>
    <% categorias.forEach((categoria)=>{ %>
        <p><%=categoria.nombre %></p>
        <button><a href="/admin/categorias/edit/<%=categoria.id %>">editar</a></button>
        <!-- <button><a href="/admin/categorias/<%= categoria.id %>?_method=DELETE">borrar</a></button> -->
        
        <form
        class="form-delete"
        action="/admin/categorias/<%= categoria.id %>?_method=DELETE"
        method="post"
      >
        <button type="submit">Borrar</button>
      </form>
    <% }) %>

</body>
</html>